<h1>New User</h1>

<form action="<%=users_url%>" method="post">
  <%=auth_token%>
  <label for="Username">Username:
    <input id="Username" type="text" name="user[username]">
  </label>
  <label for="Password">Password:
    <input id="Password" type="password" name="user[password]">
  </label>
  <label for="submit">
    <input id="submit" type="submit" >
  </label>

</form>
